<!-- P A R T  1 -->

<!-- <!DOCTYPE html>

<html ng-app = "myApp" lang "en">

<head>
<meta charset = "utf8">

<title>JS4-1-part-1</title>
<link rel = "stylesheet" type="text/css" href="main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js">
	</script>


</head>

<body>

	<div ng-controller = "mainController">



       	 <h1 class = "part-1"> {{title}} </h1>
	
		<button class = "button-1" ng-click = "buttonClick()">Click Me</button>

			<h1 ng-show= "myHeader"> Header!</h1><br>
			<p ng-show= "myText"> 	Text in the body element</p>



		<button class = "button-2" ng-click= "click2()"> Click for a list!!</button>
			<ul class= "list" ng-show="myList">
				<li> list item</li> <br>
				<li> list item 2</li> <br>
				<li> Last Item</li>
				</ul> 
		
		

	</div>

	<script src="main.js"> </script>


	</body>

	</html> -->

<!-- -----------------------------
 -->


<!DOCTYPE html>
<html ng-app = "myApp" lang "en">
<head>
<meta charset = "utf 8">
<title> JS4-1-part-2</title>

<link rel = "stylesheet" type="text/css" href="main.css">
<script src="angular.min.js">
	</script>

</head>

<body>

	<div ng-controller = "mainController">

		<h1 class= "firstHeader" ng-click="headerClick()" > {{header}} </h1><br>
		<p class = "firstP" ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave($event)" ng-class="{pink:hovering}"> Bacon ipsum dolor amet pork belly pork loin alcatra biltong strip steak sausage pancetta meatloaf shank doner hamburger drumstick turducken. Prosciutto bresaola cow jowl pork loin alcatra landjaeger short ribs boudin t-bone. Tri-tip venison pastrami picanha pork chop shank t-bone cow turducken tenderloin. Kielbasa cupim short ribs hamburger tail pastrami flank brisket pork belly pork picanha andouille shankle shoulder. Beef ribs shankle brisket tenderloin hamburger.</p> <br>

		<p> <a ng-click = "Really($event)" ng-if = "gotobacon" href = "https://baconipsum.com/?paras=1&type=meat-and-filler&start-with-lorem=1"> Bacon Ipsum is here!</a> </p>


		<h2 class = " secondHeader" ng-click="headerClick()"> {{header2}}</h2><br>
		<p class = "secondP" ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave($event)" ng-class="{pink:hovering}">Loquélæ. Brevis oratio. Hodie particeps tua perdideris. Quid sui nominis - Emilio? Emilio gradiens ad carcerem. Tulitque omnem pecuniam tuam in DEA tuus Lab. Vos got nihil. Quadratum unum. Et ego agnosco rem, nisi te scire elit. Cogito ... maybe vos possem socium ascendit.</p><br>

		<p> <a ng-click = "bluemeth($event)" ng-if="gotoblue" href = "http://heisenbergipsum.com/"> Breaking Ipsum </a></p>


	</div>

	<script src = "main.js"> </script>

	</body>

	</html>













